body {
  border: dashed black;
  margin: 5% 10%;
  border-radius: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: center;
  min-width: 960px;
  max-width: 75%;
  margin: 0 auto;
  padding: 0;
}

.layer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.layer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 9%;
  margin-bottom: 10%;
  margin-right: 5%;
  /* margin-left: 5%; */
}

.layer3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 8% 5%;
}

.layer4 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 8% 5%;
  /* width: 400px; */
}

.inputCity {
  font-size: 30px;
  background-color: white;
  background-image: url('img/8666693_search_icon.png');
  background-size: 30px;
  background-position: 5px 20px;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.fakePosition {
  width: 400px;
  height: 400px;
  padding: 20px;
}
.showWeather {
  text-align: center;
  border: 2px solid black;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.infoWeather {
  list-style-type: none;
  text-align: center;
  /* border: 2px solid black; */
  /* width : 400px;
  height: 400px; */
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
}

.iconWeather {
  text-align: center;
}

.historyCity {
  list-style-type: none;
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  list-style-type: none;
  padding: 20px;
}
